.homepage {
  position: relative;
  width: 1366px;
  height: 3224px;
}

.lastestPosts {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px;
  gap: 24px;
  isolation: isolate;
  position: absolute;
  width: 748px;
  height: 412px;
  left: 695px;
  top: 152px;
}

.allPostsHeader {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 64px;

  position: absolute;
  width: 1110px;
  height: 48px;
  left: 128px;
  top: 716px;
}

.allPostsHeader h2 {
  width: 948px;
  height: 48px;
  /* size2 */
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 48px;
  /* identical to box height, or 141% */
  letter-spacing: -0.003em;
  color: #ffffff;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 1;
}

.trierPar {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  width: 98px;
  height: 24px;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.trierPar p {
  width: 64px;
  height: 24px;
  /* size7/semiBold/normal */
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  /* Primary/primary200 */
  color: #a3b5c5;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.cardsContainer {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 40px;
  position: absolute;
  width: 1110px;
  height: 936px;
  left: 128px;
  top: 808px;
}

.cardsContainer .cards {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  width: 1110px;
  height: 856px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.catégories {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  position: absolute;
  width: 990px;
  height: 100px;
  left: 128px;
  top: 1848px;
}

.catégories {
  width: 442px;
  height: 48px;
  /* size2 */
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 48px;
  /* identical to box height, or 141% */
  letter-spacing: -0.003em;
  color: #ffffff;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.catégories .frame999 {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  width: 990px;
  height: 28px;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.archivesSection {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 40px;
  position: absolute;
  width: 1110px;
  height: 800px;
  left: 128px;
  top: 2044px;
}

.archivesSection .archives {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  width: 1110px;
  height: 720px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.archives h2 {
  width: 1110px;
  height: 48px;
  /* size2 */
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 48px;
  /* identical to box height, or 141% */
  letter-spacing: -0.003em;
  color: #ffffff;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.archives .frame999 {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  width: 1110px;
  height: 200px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
.archives .frame1000 {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  width: 1110px;
  height: 200px;

  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
}
.archives .frame1001 {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  width: 1110px;
  height: 200px;

  /* Inside auto layout */
  flex: none;
  order: 3;
  flex-grow: 0;
}

.Button {
  box-sizing: border-box;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 24px;
  gap: 10px;
  width: 115px;
  height: 40px;
  background: inherit;
  /* Accents/Accent 1/accent1Light */
  border: 2px solid #bfe2de;
  border-radius: 16px;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.Button p {
  width: 67px;
  height: 24px;
  /* size7/bold/normal */
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  text-align: center;
  /* Primary/primary50 */
  color: #f6f8f9;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.rectangle__600 {
  position: absolute;
  width: 1366px;
  height: 601px;
  left: 0px;
  top: 944px;
  /* Primary 50 / 16% */
  background: rgba(246, 248, 249, 0.16);
}

.rectangle__372 {
  position: absolute;
  width: 117px;
  height: 109px;
  left: 93px;
  top: 1895px;
  /* Primary/primary300 */
  background: #7590a8;
  box-shadow: 0px 0px 12px rgba(2, 3, 3, 0.13);
  border-radius: 8px;
}

.particuels__ML {
  position: absolute;
  width: 147px;
  height: 63px;
  left: 1203.76px;
  top: 2027.92px;
  transform: rotate(34.49deg);
}

.particules__svp {
  position: absolute;
  width: 136.82px;
  height: 257.78px;
  left: 57px;
  top: 2572px;
}

.header {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 56px;
  position: absolute;
  width: 449px;
  height: 288px;
  left: 128px;
  top: 152px;
}

.topContent {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  width: 449px;
  height: 156px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.topContent {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  width: 449px;
  height: 156px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.topContent h1 {
  width: 166px;
  height: 52px;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 52px;
  /* identical to box height, or 108% */
  text-align: center;
  letter-spacing: -0.015em;
  /* white */
  color: #ffffff;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.topContent p {
  width: 449px;
  height: 72px;
  /* size6/regular/normal */
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  /* or 133% */

  /* white */
  color: #ffffff;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.particule__gauche {
  position: absolute;
  width: 83.51px;
  height: 272.74px;
  left: 19px;
  top: 1123px;
}

.particules__notreADN {
  position: absolute;
  width: 1016.77px;
  height: 263.49px;
  left: 64px;
  top: 100.03px;
}

.rectangle__333 {
  position: absolute;
  width: 213px;
  height: 199px;
  left: -37px;
  top: 301px;
  /* Primary/primary300 */
  background: #7590a8;
  box-shadow: 0px 0px 12px rgba(2, 3, 3, 0.13);
  border-radius: 8px;
}
