.footer {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 64px;
  gap: 32px;
  /* white */
  background: #ffffff;
}

/*=============== Container TOP ==================*/
.containerTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 56px;
  width: 1109px;
  height: 192px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.block__logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  width: 324px;
  height: 192px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.avis {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 289px;
  height: 97.9px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.avis__logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 289px;
  height: 97.9px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.avis__logo p {
  width: 289px;
  height: 40px;
  top: 57.9px;
}
.avis__logo__initiales {
  width: 80px;
  height: 41.9px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.initialeM {
  height: 40.381378173828125px;
  width: 34.449737548828125px;
  left: 0px;
  top: 0.76165771484375px;
  border-radius: 0px;
}
.initialeG {
  height: 41.904762268066406px;
  width: 40.9566650390625px;
  left: 39.04345703125px;
  top: 0px;
  border-radius: 0px;
}

.link__follow {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 24px;
  top: 121.9px;
  width: 216px;
  height: 24px;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
.link__follow__icon {
  width: 24px;
  height: 24px;
}

.link__follow__icon .linkedin {
  height: 24px;
  width: 24px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.link__follow__icon .youtube {
  height: 24px;
  width: 24px;
  left: 48px;
  top: 0px;
  border-radius: 0px;

  flex: none;
  order: 2;
  flex-grow: 0;
}
.link__follow__icon .instagram {
  height: 24px;
  width: 24px;
  left: 96px;
  top: 0px;
  border-radius: 0px;
  /* Inside auto layout */
  flex: none;
  order: 3;
  flex-grow: 0;
}
.link__follow__icon .twitter {
  height: 24px;
  width: 24px;
  left: 144px;
  top: 0px;
  border-radius: 0px;
  /* Inside auto layout */
  flex: none;
  order: 4;
  flex-grow: 0;
}
.link__follow__icon .tiktok {
  height: 24px;
  width: 24px;
  left: 192px;
  top: 0px;
  border-radius: 0px;
  /* Inside auto layout */
  flex: none;
  order: 5;
  flex-grow: 0;
}

.linkedin {
  height: 22.000001907348633px;
  width: 22.000001907348633px;
  left: 1px;
  top: 1px;
  border-radius: 0px;

  flex: none;
  order: 0;
  flex-grow: 0;
}
.youtube {
  height: 16.85849952697754px;
  width: 23.998498916625977px;
  left: 0px;
  top: 2.99847412109375px;
  border-radius: 0px;

  flex: none;
  order: 2;
  flex-grow: 0;
}
.instagram {
  height: 18.73733139038086px;
  width: 18.737680435180664px;
  left: 2.6337890625px;
  top: 2.63134765625px;
  border-radius: 0px;

  flex: none;
  order: 3;
  flex-grow: 0;
}
.twitter {
  height: 18.458526611328125px;
  width: 22.70599937438965px;
  left: 0.93701171875px;
  top: 2.74749755859375px;
  border-radius: 0px;

  flex: none;
  order: 4;
  flex-grow: 0;
}
.tiktok {
  height: 22.50210952758789px;
  width: 19.501760482788086px;
  left: 2.2470703125px;
  top: 0.75px;
  border-radius: 0px;

  flex: none;
  order: 5;
  flex-grow: 0;
}

.block__1footer,
.block__2footer,
.block__3footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 229px;
  height: 192px;
}
.block__1footer {
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
.block__2footer {
  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
}
.block__3footer {
  /* Inside auto layout */
  flex: none;
  order: 3;
  flex-grow: 0;
}
.block__1footer p,
.block__2footer p,
.block__3footer p {
  width: 229px;
  height: 24px;
  /* size6/bold/normal */
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */
  /* Primary/primary700P */
  color: #2a4054;
  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.block__1footer .content,
.block__2footer .content,
.block__3footer .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: 229px;
  height: 152px;
  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.components9,
.components7,
.components8 {
  width: 188px;
  height: 24px;
}

.block__1footer .content .components9 {
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.block__1footer .content .components7 {
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
.block__1footer .content .components8 {
  /* Inside auto layout */
  flex: none;
  order: 3;
  flex-grow: 0;
}

.content p {
  width: 229px;
  height: 24px;
}
.content a,
.content p {
  /* size7/regular/normal */
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  /* Primary/primary700P */
  color: #2a4054;
}
.content .équipe {
  /* Inside auto layout */
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}
.content .trustpilot {
  /* Inside auto layout */
  flex: none;
  order: 4;
  align-self: stretch;
  flex-grow: 0;
}

.block__2footer .content .links {
  width: 229px;
  height: 24px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.block__2footer .content .links {
  width: 229px;
  height: 24px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.block__2footer .content .espace__étudiants {
  width: 186px;
  height: 24px;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
.block__2footer .content .coaching {
  width: 229px;
  height: 24px;
  /* Inside auto layout */
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

.block__2footer .content .textTag1,
.block__2footer .content .textTag2 {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;
}

.block__2footer .content .textTag1 {
  flex: none;
  order: 3;
  flex-grow: 0;
}
.block__2footer .content .textTag2 {
  flex: none;
  order: 4;
  flex-grow: 0;
}

.block__2footer .content .textTag1 p,
.block__2footer .content .textTag2 p {
  width: 142px;
  height: 24px;
  color: #7590a8;
}

.block__2footer .content .frame__996,
.block__2footer .content .frame__996 {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 2px 8px;
  gap: 4px;
  width: 49px;
  height: 24px;
  /* Accents/Accent 1/accent1Light */
  background: #bfe2de;
  border-radius: 8px;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
.frame__996 p {
  width: 33px;
  height: 20px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.block__3footer .content .components7 {
  /* Inside auto layout */
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}
.block__3footer .content .components8 {
  /* Inside auto layout */
  flex: none;
  order: 3;
  flex-grow: 0;
}
/*================= FRAME 273 ====================*/
.frame__273 {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;
  width: 1109px;
  height: 40px;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.container__bottom {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  width: 1109px;
  height: 16px;
  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.frame__links,
.frame__links1,
.frame__links2,
.frame__links3,
.frame__links4 {
  width: 196.2px;
  height: 16px;
  /* size9/bold/normal */
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */
  text-align: center;
  /* Primary/primary700P */
  color: #2a4054;
}

.frame__links {
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 1;
}
.frame__links1 {
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 1;
}
.frame__links2 {
  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 1;
}
.frame__links3 {
  /* Inside auto layout */
  flex: none;
  order: 3;
  flex-grow: 1;
}
.frame__links4 {
  /* Inside auto layout */
  flex: none;
  order: 4;
  flex-grow: 1;
}

.line1 {
  width: 1109px;
  height: 0px;
  /* Primary/primary500 */
  border: 1px dashed #466a8b;
  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
